.navbar {
  max-width: 100%;
  gap: 1em 2em;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.listItems {
  list-style: none;
  display: flex;
  gap: 20px;
}
